ExpiresActive On
ExpiresDefault "access plus 4 hours"
ExpiresByType image/x-icon "access plus 30 days"
ExpiresByType text/javascript "access plus 30 days"
ExpiresByType image/gif "access plus 30 days"
ExpiresByType image/png "access plus 30 days"
ExpiresByType image/jpg "access plus 30 days"
ExpiresByType text/css "access plus 30 days"
ExpiresByType text/html "access plus 60 seconds"

RewriteEngine On

RewriteCond %{HTTP_HOST} ^sequility.com
RewriteRule (.*) http://www.sequility.com/$1 [R=301,L]
 
RewriteRule ^(.*)/gl/([0-9]*)/page/([0-9]*)$ index.php?c=$1&gallery_id=$2&page=$3&%{QUERY_STRING} [L]
#RewriteRule ^(.*)/gl/([0-9]*)/(.*)$ index.php?c=$1&gallery_id=$2&%{QUERY_STRING} [L]
RewriteRule ^(.*)/gl/([0-9]*)/(.*)$ index.php?gallery_id=$2&%{QUERY_STRING} [L]

#the next rule is probably the most useful... 
#it's critical that params in the original URL be in the following order:
# c=something ($1)
# album ($2)
# picture_id ($3)
# cat_id ($4)
# zip ($5)
# the rest of the query string will be formatted correctly as: &foo=xxx&something=yyy...

RewriteRule ^(.*)/al/([0-9]*)/pic/([0-9]*)/cat/([0-9]*)/zip/([0-9]*)$ index.php?c=$1&album_id=$2&picture_id=$3&cat_id=$4&zip=$5&%{QUERY_STRING} [L]
 
RewriteRule ^(.*)/al/([0-9]*)/pic/([0-9]*)/cat/([0-9]*)$ index.php?c=$1&album_id=$2&picture_id=$3&cat_id=$4&%{QUERY_STRING} [L]
#next line is new
RewriteRule ^(.*)/al/([0-9]*)/page/([0-9]*)/startat/(.*)/$ index.php?c=$1&album_id=$2&page=$3&startat=$4  [L]

RewriteRule ^(.*)/al/([0-9]*)/page/([0-9]*)$ index.php?c=$1&album_id=$2&page=$3&%{QUERY_STRING} [L]
RewriteRule ^(.*)/al/([0-9]*)/(.*)$ index.php?c=$1&album_id=$2&%{QUERY_STRING} [L]


RewriteRule ^(.*)/pic/([0-9]*)/page/([0-9]*)$ index.php?c=$1&picture_id=$2&page=$3&%{QUERY_STRING} [L]
RewriteRule ^(.*)/pic/([0-9]*)/(.*)$ index.php?c=$1&picture_id=$2&%{QUERY_STRING} [L]

RewriteRule ^cat/([0-9]*)$ index.php?cat_id=$1 [L]

RewriteRule ^(admin/)$ /admin/index.php [L]
#next rule replaces all spaces with underscores
RewriteRule    (.*)\ (.*)      $1_$2 [N]
RewriteRule ^([a-zA-Z0-9_]+)/$ index.php/$1 [L]
RewriteRule ^([a-zA-Z0-9_]+)$ index.php/$1/ [L]

RewriteRule ^system/logs/(.*)$ index.php
