


* {
margin: 0px;
text-decoration: none;
padding: 0px;
list-style-type: none; 
}



body {
background-image: url('../images/bg.png');
background-repeat: repeat;
font-family: arial, sans-serif;

}



@font-face {
    font-family: "Icons";
    src: url(../iconmoon.ttf) format("truetype");
}

/*Header*/

#header_bar {

position: absolute;
width: 100%;
top: 0px;
z-index: -40;
height: 48px;
background-color: black;
}

#headerx {

top:0px;
right:0px;
color: white;
margin-left:auto;
margin-right:auto;
z-index: 41;
overflow: hidden;

background-color: black;

height: 48px;
width: 100%;
color: white;


}

#search {

}


/* input[type="text"] {
	position: absolute;
	right: 10px;
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 18px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 200px;
    padding: 6px 15px 6px 35px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

 input[type="text"]:focus {
    width: 300px;
    }
*/	
	
#search input[type="text"] {


	float: right;
	background-image:url('search.png');
	background-color: #3d3d3d;
	background-repeat: no-repeat;
	background-position: right;
    font: bold 41px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    padding-right: 120px;
	width:0px;
	border: none;
	
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	
	
    }


#search input[type="text"]:focus {
    width: 720px;
	margin-left: 0px;
    }



/*Content*/

h1 {

font-size: 76pt;
color: white;
font-family: arial, sans-serif;

}

h2  {

margin-left: 5px;
margin-bottom: 0px;
font-size: 40px;
color: #979797;



}



#page {

min-width: 800px;
max-width: 1600px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}


#content {
position: relative;
width: 100%;
background-color: #e3eaef;
border-left: 1px solid gray;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
overflow: hidden;
min-height: 1000px;
}




/*Shelves*/


/*Shelf Sliders */

.shelves {

	margin-left: 0px;
	margin-right: 0px;
      -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


@media screen and (min-width: 1110px) {
  .shelves {
	margin-left: 80px;
	margin-right: 80px;
  }
}

#welcome h1{

margin-top: 90px;
margin-left: 100px;
padding-left: 240px;
margin-bottom: 40px;

}


/*Welcome Area */

#welcome {
position: absolute;
width: 100%;
z-index: 2;
height: 500px;
background-repeat: no-repeat;
background-position: 60px 80px;
}

#welcome img {
margin: auto;
margin-top: 95px;
width: 300px;
display: block;


}

#welcome_bg {
position: absolute;
width: 100%;
height: 500px;

max-width: 1600px;

background-color: black;

z-index: 1;
border-top: 1px solid white;  
  overflow: hidden;

  
  
  
   -khtml-opacity:.35; 
 -moz-opacity:.35; 
 -ms-filter:"alpha(opacity=35)";
  filter:alpha(opacity=35);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.35);
  opacity:.35;
  
      -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;

}




#welcome_bg:hover  {

 -khtml-opacity:.5; 
 -moz-opacity:.5; 
 -ms-filter:"alpha(opacity=50)";
  filter:alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=.50);
  opacity:.50;

}


#welcome_bg2 {
position: relative;
width: 100%;
height: 500px;

max-width: 1600px;
background-image: url('../images/bg2.png');
background-color: black;
z-index: 0;

}


.welcome_photo {

  width: 120%;
	margin-top:-75%;
	margin-left:-10%;
  overflow: hidden;

}





#welcome a{
float: right;
color: white;
font-size: 18pt;
display: inline-block;

padding: 6px;



}

#start_comic {
margin-right: 65px;
background-color: #d01616;
}

#facebook_login {
background-color: #3b5998;
margin-right: 20px;
}






#author_tag {

border-radius: 10000px;

z-index: 10;
padding: 0px;
margin: 0px;
left: 20px;
top: 10px;
color: white;
vertical-align: middle;
}



.profile {


width: 32px;
height: 32px;
border-radius: 10000px;
 -khtml-opacity:.6; 
 -moz-opacity:.6; 
 -ms-filter:"alpha(opacity=60)";
  filter:alpha(opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
  opacity:.6;

}


/*Sliders*/


.slides {

}


.albumbox {
position: relative;
display: inline-block;
float: left;
margin-right: 25px;
width: 220px;
height: 340px;
overflow: hidden;
  -webkit-box-shadow: 4px 4px 0px 0px #a1abb2;
  box-shadow: 4px 4px 0px 0px #a1abb2;
  -moz-box-shadow: 4px 4px 0px 0px #a1abb2;
  -o-box-shadow: 4px 4px 0px 0px #a1abb2;


border: 1px solid white;
  
}



.button {
border-radius: 10000px;
margin: 10px;
}


.read_beginning {

background-color: #d01616;
margin-top: 20px;

}

.button h2{
font-size: 18px;
color: white;
margin-top: 0px;
font-weight:normal
}

.newest_page {

background-color: #d01616;


}


.thumbnail {
background-image: url('../images/bg2transparent.png');
position: absolute;
display: inline-block;
color: white;
width: 100%;

  height: 340px;

   -khtml-opacity:0; 
 -moz-opacity:0; 
 -ms-filter:"alpha(opacity=0)";
  filter:alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  opacity:0;

  
      -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	
	visibility: hidden;

}

.pictext {
float: right;
background-image: url('../images/bg3.png');
margin-top: -0px;
  -webkit-transition: margin-top .4s ease-in-out;
}


.albumbox:hover  .thumbnail{

	visibility: visible;
left: -0px;

   -khtml-opacity:1; 
 -moz-opacity:1; 
 -ms-filter:"alpha(opacity=100)";
  filter:alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  opacity:1;

}

.albumbox:hover  {




}






.pictext h2{

color: white;
padding: 5px;
font-weight: normal;
font-size: 12pt;

}


/*Welcome Animations*/


@=webkit-keyframes comic_move {



}




@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
 
@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}







.fade-in {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
 
.fade-in.one {-webkit-animation-delay: 0, 0;}
.fade-in.two {-webkit-animation-delay: 0, 5s;}
.fade-in.three {-webkit-animation-delay: 0, 2s;}
.fade-in.four {-webkit-animation-delay: 0, 2s;}
.fade-in.five {-webkit-animation-delay: 0, 3s;}

}


/*Comic Viewer*/



.viewport-wrapper{

}






.viewport-wrapper{

}

.flex-prev {
width: 60px;
height: 110px;
display: block;
position: absolute;
top: 50%;
 left: 0px;
margin-top: -60px;
background-image: url('../images/nav_prev.png');


      -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
	
	background-repeat: no-repeat;
}

.flex-next {
width: 60px;
height: 110px;
display: block;
position: absolute;
top: 50%;
right: 0px;
margin-top: -60px;
background-image: url('../images/nav_next.png');



      -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
	
	background-repeat: no-repeat;
}


.flex-next:hover{


background-image: url('../images/nav_next_2.png');

}

.flex-prev:hover{


background-image: url('../images/nav_prev_2.png');

}


@media screen and (min-width: 1110px) {
  .flex-next {
 right: -70px;

  }
  
 .flex-prev {
 left: -70px;

 }
}


/*Cutoffs for iPhone and Nexus 7 that remove arrouws to encourage swiping*/


.browser_notice_desktop {

width: 100%;
text-align: center;
font-size: 30px;
color: #ccc;

}


.browser_notice_nexus7 {
display: none;


}


@media screen and (max-device-width: 480px) {
  .flex-next {
 display: none;

  }
  
 .flex-prev {
 display: none;

 }
}


@media screen and (max-device-width: 966px) {
 
 
.browser_notice_nexus7 {
display: inline;
width: 100%;
text-align: center;
font-size: 30px;
color: #ccc;
}
 
.browser_notice_desktop {

 display: none;

}

 .flex-next {
 display: none;

  }
  
 .flex-prev {
 display: none;

 }
}







